<div class="container">
  <nav class="navbar navbar-default backgroundColor">
      <ul class="nav navbar-nav">
          <li> 
              <a routerLink="list" style="color:white" class="linkDesign">LIST</a>
          </li>
          <li>
              <a routerLink="edit/0" style="color:white" class="linkDesign">CREATE PATIENT</a>
          </li>
          <li>
              <a routerLink="creategpdetail" style="color:white" class="linkDesign">CREATE GENERAL PRACTITIONER</a>
          </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>